<!DOCTYPE html>
<html lang="eng">

<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>FSS</title>
    <script type="module" src="src/canvas.js"></script>
    <script type="module" src="src/elements.js"></script>
    <script type="module" src="src/lib/geometry.js"></script>
    <script type="module" src="src/input.js"></script>
    <script type="module" src="src/lib/graph.js"></script>
    <script type="module" src="src/renderer.js"></script>
    <script type="module" src="src/simulate.js"></script>
    <script type="module" src="src/api.js"></script>
    <script type="module" src="src/canvasManager.js"></script>

    <link rel="stylesheet" type="text/css" href="main.css">

</head>

<body style="font-family: Tahoma, Geneva, sans-serif">

    <header>
        <b-navbar toggleable="lg" type="light">
            <b-navbar-brand @click="showNav = false" :to="{name:'Home'}" v-if="$route.name!='Home' || mobile"><img src="/favicon.png" height="40" class="invertir"></b-navbar-brand>

            <b-button @click="showNav = !showNav" type="button" variant="transparent" class="text-white d-lg-none d-inline-block ml-auto">
                <i class="fas fa-bars p-0" v-if="!showNav"></i>
                <i class="fas fa-times p-0" v-else></i>
            </b-button>

            <b-collapse class="p-0" id="nav-collapse" is-nav v-model="showNav">
                <b-navbar-nav :class="{'mx-auto':$route.name=='Home'}">
                    <a href="/index.html" title="О сервисе" onclick="slowScroll('#main')">О сервисе</a>
                    <a href="/stateMachine.html" title="Конечные автоматы" onclick="slowScroll('#overview')">Конечные автоматы</a>
                    <a href="/turingMachine.html" title="Контакты" onclick="slowScroll('#contacts')">Машина Тьюринга</a>
                    <a href="/about.html" title="Ответы на вопросы" onclick="slowScroll('#faq')">Информация</a>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </header>


    <h1 class="content">Конечные автоматы</h1>
    <div style="max-width:1300px;margin-left:auto;margin-right:auto;">
        <canvas id="canvas" tabindex="1" width="2000" height="1000" oncontextmenu="return false;">
			This browser does not support HTML5 canvas
        </canvas>

        <table id="io_table">
            <tr>
                <th> Вход </th>
                <th> Статус </th>
            </tr>
        </table>

    </div>

    <div id="branches">
        <button style="display: none;" id="branch-all">All</button>
    </div>

    <br>

    <div class="content">
        <button id="stp_btn">Шаг</button>
        <button id="run_btn">Запустить</button>
        <button id="draw_btn">Нарисовать таблицу</button>
        <button id="clear_btn">Очистить</button>
        <button id="reset_btn">Сбросить симуляцию</button>
    </div>

    <br>

    <fieldset id="input_box">
        <legend>Ввести строку:</legend>
        <input type="text" id="string_input" />
        <button id="submit_btn"> ввести </button>
    </fieldset>

    <br>

    <table id="t_table" style="margin-left:auto; margin-right:auto;margin-bottom: 5px;">
    </table>

    <div class="content" id="saves">
        <span id="save0">
            <button id="save_btn" >Сохранить</button>
            <button id="load_btn">Загрузить</button>
        </span>
    </div>

    <!-- menu for new arrows -->
    <div id="arrow_menu" class="arrow_menu">
        <input id="if_" type="text" name="">
        <!-- Output used for models of computation like PDAs or TMs -->
        <!-- <input id="out" type="text" name=""> -->
    </div>

    <br>

    <div class="content">
        Тёмная тема
        <input id="toggle_dark" type="checkbox" />
    </div>

    <hr>


    <div class="content">
        <p>Гайд:</p>
    </div>


    <div class="content">
        <ul style="list-style-type:none;">
            <li>Double-click to add a new state</li>
            <li>Left-click & drag to move a state/connection</li>
            <li>Shift + left-click to add a connection between states</li>
            <li>Right click to delete a state</li>
        </ul>
        <ul style="list-style-type:none;">
            <li>Enter a string as input for the FSM</li>
            <li>A string can be submitted multiple times</li>
            <li>Press step to simulate the FSM against the input</li>
            <li>Reset will reset the simulation</li>
        </ul>
    </div>

</body>

</html>

<style>
    body {
        padding-top: 4%;
    }
    
    header {
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
</style>